{% extends "layouts/dashboard_base.html" %}

{% block title %}
Dashboard | SkillForge LMS
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero -->
    {% include "dashboard/components/hero.html" %}

    <!-- Statistics -->
    {% include "dashboard/components/statistics.html" %}

    <!-- My Courses -->
    {% include "dashboard/components/my_courses.html" %}

</div>

{% endblock %}

{% block scripts %}

<!-- Authentication -->
<script src="{{ url_for('static', path='js/dashboard/auth.js') }}"></script>

<!-- Dashboard API -->

<!-- Dashboard -->
<script src="{{ url_for('static', path='js/dashboard/dashboard_my_courses.js') }}"></script>
<!-- Statistics -->
<script src="{{ url_for('static', path='js/dashboard/statistics.js') }}"></script>

<!-- My Courses -->
<script src="{{ url_for('static', path='js/dashboard/my_courses.js') }}"></script>

<!-- Continue Learning -->
<script src="{{ url_for('static', path='js/dashboard/continue_learning.js') }}"></script>

{% endblock %}