{% extends "base.html" %}

{% block title %}
SkillForge Academy | Learn Today. Lead Tomorrow.
{% endblock %}

{% block content %}

    <!-- ==========================
         Hero Section
    =========================== -->

    {% include "components/hero.html" %}


    <!-- ==========================
         Statistics
    =========================== -->

    {% include "components/statistics.html" %}


    <!-- ==========================
         Featured Courses
    =========================== -->

    {% include "components/featured_courses.html" %}


    <!-- ==========================
         Why Choose SkillForge
         (Coming Soon)
    =========================== -->

    {# {% include "components/why_choose.html" %} #}


    <!-- ==========================
         Learning Journey
         (Coming Soon)
    =========================== -->

    {# {% include "components/learning_journey.html" %} #}


    <!-- ==========================
         Testimonials
         (Coming Soon)
    =========================== -->

    {# {% include "components/testimonials.html" %} #}


    <!-- ==========================
         Corporate Training
         (Coming Soon)
    =========================== -->

    {# {% include "components/corporate_training.html" %} #}


    <!-- ==========================
         Call To Action
         (Coming Soon)
    =========================== -->

    {# {% include "components/cta.html" %} #}

{% endblock %}